*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI, sans-serif;}
body{background:#f4f6f8;}

.header{
    background:#3b82f6;
    color:#fff;
    padding:18px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
}

.back-btn{
    margin:15px;
    background:#3b82f6;
    color:white;
    padding:8px 14px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.container{padding:20px 40px;}

.item{
    display:flex;
    justify-content:space-between;
    background:#fff;
    padding:18px;
    margin-bottom:12px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
    cursor:pointer;
}

.name{font-weight:bold;font-size:17px;}
.time{font-size:12px;color:gray;}
.amount{font-weight:bold;font-size:17px;}

button{
    padding:12px;
    border:none;
    border-radius:25px;
    cursor:pointer;
    font-size:14px;
}

.full-btn{width:100%;margin-top:15px;background:#3b82f6;color:#fff;}
.green-btn{background:#22c55e;color:#fff;margin-bottom:15px;}

.row{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    font-size:16px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:6px;
    border:1px solid #ccc;
    border-radius:8px;
}

.history-item{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    background:#fff;
    padding:12px 14px;
    border-radius:8px;
    margin-top:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.06);
    font-size:14px;
}

.header-row{
    background:#e8eefc;
    font-weight:bold;
}

.history-item div{
    text-align:center;
}

.hidden{display:none;}
